@import '../../../styles/GlobalStyles.scss';
@import '../../../styles/variables';

.hero-container {
  background-image: linear-gradient(to right, #000000, #82a8b1);
  color: $primary-light;
  
  a {
    @extend .btn-primary;
    &:hover {
      background-color: $dark-bg;
    }
  }
}