// Base Variables
$font-size-root: 18px;
$font-family: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Color Palette
$dark-bg: #393D3F;
$primary-light: #FFFFFF;
$primary-dark: #000000;
$secondary: #62929E;

// Button Styles
$button-border-radius: 0.3125rem;
$button-padding: 0.5556rem 1.1111rem;