// Importing variables
@import 'variables';
@import 'mixins';

// === Global Styles ===
body {
  font-size: 1rem; // Equivalent to the root size
  font-family: $font-family !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}

// === Utility Classes ===
.half {
  width: 50%;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

// === Theming ===
.dark-bg {
  background-color: $dark-bg;
  color: $primary-light;
}

.light-text {
  color: $primary-light;
}

.dark-text {
  color: $primary-dark;
}

.alt-bg {
  background-color: $secondary;
}

// === Button Classes ===
.btn-primary { 
  @include button-styles($primary-dark, $primary-light);
}

.btn-secondary {
  @include button-styles($primary-light, $primary-dark);
}

// === Animations ===
.hidden,
.visible {
  transition: all 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(100px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
