@import '../../../styles/GlobalStyles.scss';
@import '../../../styles/variables';

.get-started {
  @extend .dark-bg;
  
  h2 {
    @extend .light-text;
  }

  p {
    @extend .light-text;
  }

  &-img-fluid {
    box-shadow: 4px 4px 4px $primary-dark;
  }

  .btn-primary {
    @extend .btn-primary;
    display: inline-block;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: $secondary;
  }
}