.get-started {
  text-align: center;
  padding: 2rem;
  
}

.globe-image {
  max-width: 50%;
  margin: auto;
}

.globe-image img {
  filter: drop-shadow(3px 3px 3px black);
}

.get-started .btn-primary {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started .btn-primary:hover {
  background-color: var(--color-secondary);
}