@import '../../../styles/GlobalStyles.scss';
@import '../../../styles/variables';

.get-started {
  @extend .dark-bg;
  text-align: center;
  padding: 4rem 0;
  
  h2 {
    @extend .light-text;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    @extend .light-text;
    margin-bottom: 2rem;
  }

  &-img-fluid {
    box-shadow: 4px 4px 4px $primary-dark;
  }

  .btn-primary {
    @extend .btn-primary;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: $secondary;
  }
}