.footer {
  background-color: #393D3F; }
  .footer .social-icons .icon {
    margin: 0 1rem;
    font-size: 1.2rem; }
    .footer .social-icons .icon img {
      width: 4rem; }
      .footer .social-icons .icon img.custom {
        width: 3rem; }
  .footer .copyright {
    font-size: 0.9rem;
    color: #FFFFFF; }
