@import '../../styles/variables';

.footer {
  background-color: $dark-bg;
  
  // Social Icons
  .social-icons {
    
    .icon {
      margin: 0 1rem;
      font-size: 1.2rem;
      
      img {
        width: 4rem;
        
        &.custom {
          width: 3rem;
        }
      }
    }
  }

  // Copyright Information
  .copyright {
    font-size: 0.9rem;
    color: $primary-light;
  }
}