.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

.header .logo {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

.header .nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header .nav-item a {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: var(--font-weight-regular);
  transition: color 0.3s ease;
}

.header .nav-item a.link:hover {
  color: var(--color-alternative-bg);
}

.header .nav-item a.login-signup {
  color: var(--color-primary-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header .nav-item a.login-signup:hover {
  background-color: var(--color-alternative-bg);
  color: var(--color-primary-light);
}