@import '../../styles/GlobalStyles';
@import '../../styles/variables';

.navbar {
  // Customizing the navbar background and text color
  background-color: $primary-dark;
  color: $primary-light;
  
  &-brand {
    font-size: 1.5rem;
  }
  
  .nav-item {
    a {
      // Customize link appearance
      color: $primary-light;
      text-decoration: none;
      font-weight: $font-weight-regular;
      
      transition: color 0.3s ease;
      
      // Hover state for links
      &:hover {
        color: $secondary;
      }
      
      // Special styles for login/signup buttons
      &.login-signup {
        @extend .dark-bg;
        transition: background-color 0.3s ease;
        
        // Hover state for login/signup buttons
        &:hover {
          background-color: $secondary;
          color: $primary-light;
        }
      }
    }
  }
  
  .signed-in-indicator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    .phantom-icon {
      /* Styles for the Phantom Wallet icon */
      // background: url('/path-to-your-phantom-icon.svg') no-repeat center;
      width: 24px;
      height: 24px;
    }
    
    .public-key {
      font-size: 0.9rem;
      color: $primary-dark;
    }
  }

}