.navbar {
  // Customizing the navbar background and text color
  background-color: $primary-dark;
  color: $primary-light;

  &-brand {
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
  }

  .nav-item {
    a {
      // Customize link appearance
      color: $color-primary-light;
      text-decoration: none;
      font-weight: $font-weight-regular;

      transition: color 0.3s ease;

      // Hover state for links
      &:hover {
        color: $color-secondary;
      }

      // Special styles for login/signup buttons
      &.login-signup {
        color: $color-primary-dark;
        transition: background-color 0.3s ease;

        // Hover state for login/signup buttons
        &:hover {
          background-color: $color-secondary;
          color: $color-primary-light;
        }
      }
    }
  }
}
