.content-container {
  padding: 2rem 0; }
  .content-container .content-text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .content-container .content-text p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    line-height: 1.5; }
  .content-container .content-img img {
    max-width: 100%;
    height: auto; }
