.accordion {
  background-color: #62929E;
  color: #FFFFFF; }

.accordion-item {
  border: none;
  border-bottom: 1px solid #333333;
  background-color: transparent; }

.accordion-item:last-child {
  border-bottom: none; }

.accordion-item-header button:not(.collapsed) {
  background-color: #1a1a1a; }

.accordion-item-body {
  background-color: #0d0d0d;
  font-weight: 400; }

.hidden,
.visible {
  transition: all 0.5s ease; }

.hidden {
  opacity: 0;
  transform: translateY(100px); }

.visible {
  opacity: 1;
  transform: translateY(0); }
