@import '../../../styles/variables';

.accordion {
  // Parent styles
  background-color: $secondary;
  color: $primary-light;
  
  &-item {
    // Accordion item styles
    border: none;
    border-bottom: 1px solid lighten($primary-dark, 20%);
    background-color: transparent;
    
    &:last-child {
      border-bottom: none;
    }
    
    &-header {
      // Accordion header styles
      button {
        
        &:not(.collapsed) {
          background-color: lighten($primary-dark, 10%);
        }
      }
    }
    
    &-body {
      // Accordion body styles
      background-color: lighten($primary-dark, 5%);
      font-weight: $font-weight-regular;
    }
  }
}

// Animations
.hidden,
.visible {
  transition: all 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(100px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}