// Base Variables
$font-size-root: 18px;
$font-family: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Color Palette
$dark-bg: #393D3F;
$primary-light: #FFFFFF;
$primary-dark: #000000;
$secondary: #62929E;

// Button Styles
$button-border-radius: 0.3125rem;
$button-padding: 0.5556rem 1.1111rem;

// Mixins for Reusable Styles
@mixin button-styles($bg-color, $text-color) {
  background-color: $bg-color;
  border-radius: $button-border-radius;
  color: $text-color;
  padding: $button-padding;
  text-align: center;
}

// Global Styles
body {
  font-size: 1rem; // Equivalent to the root size
  font-family: $font-family;

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}

// Utility Classes
.half {
  width: 50%;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

// Theming
.dark-bg {
  background-color: $dark-bg;
  color: $primary-light;
}

.light-text {
  color: $primary-light;
}

.dark-text {
  color: $primary-dark;
}

.alt-bg {
  background-color: $secondary;
}

// Button Classes
.btn-primary {
  @include button-styles($primary-dark, $primary-light);
}

.btn-secondary {
  @include button-styles($primary-light, $primary-dark);
}

// Animations
.hidden,
.visible {
  transition: all 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(100px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}